
@{
    ViewData["Title"] = "AddServicesHomeContent";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>AddServicesHomeContent</h2>

فقط تجهيز فورم الاضافة  فورم العرض جاهز وتم اضافة اللينك بلوحة التحكم الادمن 